* {
  box-sizing: border-box;
}

.masthead {
  width: 1024px;
  height: 120px;
  margin-top: 50px;
  padding: 10px;
}

.masthead > * {
  color: #FFFFFF;
  float: left;
  font-weight: 400;
}

/* .masthead-date, .masthead-tagline, .masthead-spotify {
  background-color: #FFF;
  display: block;
  color: #000;
} */

.masthead-date, .masthead-tagline {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  font-size: 13px;
  margin-bottom: 5px;
  padding: 5px;
  display: table;
}

.masthead-logo {
  font-size: 100px;
  display: inline;
  font-weight: 800;
}

.masthead-info {
  position: relative;
  top: 35px;
  display: inline;
  margin-left: 20px;
}

.masthead-motto {
  font-style: italic;
}

.masthead-spotify {
  margin-top: 10px;
}